
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myIngredientsLabel">Create or edit Ingredients</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="control-label" for="field_ingredient">Ingredient</label>
            <input type="text" class="form-control" name="ingredient" id="field_ingredient"
                    ng-model="ingredients.ingredient"
                    required ng-maxlength="50" />
            <div ng-show="editForm.ingredient.$invalid">
                <p class="help-block"
                    ng-show="editForm.ingredient.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ingredient.$error.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ingredientCost">Ingredient Cost</label>
            <input type="number" class="form-control" name="ingredientCost" id="field_ingredientCost"
                    ng-model="ingredients.ingredientCost"
                    required />
            <div ng-show="editForm.ingredientCost.$invalid">
                <p class="help-block"
                    ng-show="editForm.ingredientCost.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ingredientCost.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_unitOfMeasure">Unit Of Measure</label>
            <select class="form-control" id="field_unitOfMeasure" name="unitOfMeasure" ng-model="ingredients.unitOfMeasure" ng-options="unitOfMeasure as unitOfMeasure.unitOfMeasure for unitOfMeasure in unitofmeasures track by unitOfMeasure.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
