
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBakeryCategoryLabel">Create or edit a Baked Good Category</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_bakeryCategory">Baked Good Category</label>
            <input type="text" class="form-control" name="bakeryCategory" id="field_bakeryCategory"
                    ng-model="bakeryCategory.bakeryCategory"
                    required ng-maxlength="50" />
            <div ng-show="editForm.bakeryCategory.$invalid">
                <p class="help-block"
                    ng-show="editForm.bakeryCategory.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.bakeryCategory.$error.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
