
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBakedgoodLabel">Create or edit a Bakedgood</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="bakedgood.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bakedgoodname">Bakedgoodname</label>
            <input type="text" class="form-control" name="bakedgoodname" id="field_bakedgoodname"
                    ng-model="bakedgood.bakedgoodname"
                    required ng-maxlength="255" />
            <div ng-show="editForm.bakedgoodname.$invalid">
                <p class="help-block"
                    ng-show="editForm.bakedgoodname.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.bakedgoodname.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bakeryprice">Bakeryprice</label>
            <input type="number" class="form-control" name="bakeryprice" id="field_bakeryprice"
                    ng-model="bakedgood.bakeryprice"
                    required />
            <div ng-show="editForm.bakeryprice.$invalid">
                <p class="help-block"
                    ng-show="editForm.bakeryprice.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.bakeryprice.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_vendor">vendor</label>
            <select class="form-control" id="field_vendor" name="vendor" ng-model="bakedgood.vendor" ng-options="vendor as vendor.vendorname for vendor in vendors track by vendor.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_allergen">allergen</label>
            <select class="form-control" id="field_allergen" name="allergen" ng-model="bakedgood.allergen" ng-options="allergen as allergen.allergen for allergen in allergenss track by allergen.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_categorys">categorys</label>
            <select class="form-control" id="field_categorys" name="categorys" ng-model="bakedgood.categorys" ng-options="category as category.category for category in categorys track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
