
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBakedGoodLabel">Create or edit a Baked Good</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_bakedGood">Baked Good</label>
            <input type="text" class="form-control" name="bakedGood" id="field_bakedGood"
                    ng-model="bakedGood.bakedGood"
                    required ng-maxlength="50" />
            <div ng-show="editForm.bakedGood.$invalid">
                <p class="help-block"
                    ng-show="editForm.bakedGood.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.bakedGood.$error.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bakedGoodCost">Baked Good Cost</label>
            <input type="number" class="form-control" name="bakedGoodCost" id="field_bakedGoodCost"
                    ng-model="bakedGood.bakedGoodCost"
                    required />
            <div ng-show="editForm.bakedGoodCost.$invalid">
                <p class="help-block"
                    ng-show="editForm.bakedGoodCost.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.bakedGoodCost.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_bakeryCategory">Baked Good Category</label>
            <select class="form-control" id="field_bakeryCategory" name="bakeryCategory" ng-model="bakedGood.bakeryCategory" ng-options="bakeryCategory as bakeryCategory.bakeryCategory for bakeryCategory in bakerycategorys track by bakeryCategory.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_vendor">Vendor</label>
            <select class="form-control" id="field_vendor" name="vendor" ng-model="bakedGood.vendor" ng-options="vendor as vendor.vendor for vendor in vendors track by vendor.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_allergens">Allergens</label>
            <select class="form-control" id="field_allergens" multiple name="allergens" ng-model="bakedGood.allergenss" ng-options="allergens as allergens.allergen for allergens in allergenss track by allergens.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
