<div>
    <h2>Bakedgoods</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bakedGood.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Bakedgood
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Bakedgoodname</span></th>
                    <th><span>Bakedgoodcost</span></th>
                    <th><span>bakcat</span></th>
                    <th><span>bakvendor</span></th>
                    <th><span>bakallergen</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bakedGood in bakedGoods track by bakedGood.id">
                    <td><a ui-sref="bakedGood.detail({id:bakedGood.id})">{{bakedGood.id}}</a></td>
                    <td>{{bakedGood.bakedgoodname}}</td>
                    <td>{{bakedGood.bakedgoodcost}}</td>
                    <td>
                        <a ui-sref="bakeryCategory.detail({id:bakedGood.bakcat.id})">{{bakedGood.bakcat.bakerycategory}}</a>
                    </td>
                    <td>
                        <a ui-sref="vendor.detail({id:bakedGood.bakvendor.id})">{{bakedGood.bakvendor.vendorname}}</a>
                    </td>
                    <td>
                        <span ng-repeat="bakallergen in bakedGood.bakallergens">
                            <a class="form-control-static" ui-sref="allergens.detail({id: {{bakallergen.id}}})">{{bakallergen.allergenname}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bakedGood.detail({id:bakedGood.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bakedGood.edit({id:bakedGood.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bakedGood.delete({id:bakedGood.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
