
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDrinkrecipeLabel">Create or edit a Drinkrecipe</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="drinkrecipe.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_drinkname">Drinkname</label>
            <input type="text" class="form-control" name="drinkname" id="field_drinkname"
                    ng-model="drinkrecipe.drinkname"
                    required ng-maxlength="255" />
            <div ng-show="editForm.drinkname.$invalid">
                <p class="help-block"
                    ng-show="editForm.drinkname.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.drinkname.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_ingname">ingname</label>
            <select class="form-control" id="field_ingname" multiple name="ingname" ng-model="drinkrecipe.ingnames" ng-options="ingredients as ingredients.ingredientname for ingredients in ingredientss track by ingredients.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
