<div>
    <h2>Drinkrecipes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="drinkrecipe.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Drinkrecipe
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Drinkname</span></th>
                    <th><span>ingname</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="drinkrecipe in drinkrecipes track by drinkrecipe.id">
                    <td><a ui-sref="drinkrecipe.detail({id:drinkrecipe.id})">{{drinkrecipe.id}}</a></td>
                    <td>{{drinkrecipe.drinkname}}</td>
                    <td>
                        <span ng-repeat="ingname in drinkrecipe.ingnames">
                            <a class="form-control-static" ui-sref="ingredients.detail({id: {{ingname.id}}})">{{ingname.ingredientname}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="drinkrecipe.detail({id:drinkrecipe.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="drinkrecipe.edit({id:drinkrecipe.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="drinkrecipe.delete({id:drinkrecipe.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
